[package]
name = "ansible-operator"
version = "0.1.0"
edition = "2024"
rust-version = "1.88"
license-file = "LICENSE"

[dependencies]
chrono = "0.4.42"
chrono-tz = "0.10.4"
cron = "0.15.0"
futures = "0.3.31"
futures-util = "0.3.31"
k8s-openapi = { version = "0.25.0", features = ["v1_32"] }
kube = { version = "1.1.0", features = ["runtime", "derive"] }
schemars = "0.8.0"
serde = "1.0.228"
serde_derive = "1.0.219"
serde_json = "1.0.148"
serde_yaml = "0.9.34"
thiserror = "2.0.17"
tokio = { version = "1.49.0", features = ["full"] }
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
twox-hash = { version = "2.1.2", features = ["xxhash3_64", "std"] }

[profile.release]
lto = true
codegen-units = 1
